name: Cron Checks

on:
  schedule:
    # Runs "At 04:00 every night except weekends"
    - cron: '0 4 * * 1-5'

  workflow_dispatch:

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

env:
  HOMEBREW_NO_INSTALL_CLEANUP: 1 # Disable cleanup for homebrew, we don't need it on CI
  GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}

jobs:
  build-and-test:
    name: Test LLC
    strategy:
      matrix:
        include:
          - ios: "26.0"
            device: "iPhone 17 Pro"
            setup_runtime: false
          - ios: "18.5"
            device: "iPhone 16 Pro"
            setup_runtime: false
          - ios: "17.5"
            device: "iPhone 15 Pro"
            setup_runtime: true
          - ios: "16.4"
            device: "iPhone 14 Pro"
            setup_runtime: true
          - ios: "15.5"
            device: "iPhone 13 Pro"
            setup_runtime: true
      fail-fast: false
    runs-on: macos-15
    env:
      XCODE_VERSION: "26.0.1"
    steps:
    - uses: actions/checkout@v4.1.1
    - uses: ./.github/actions/bootstrap
      env:
        INSTALL_YEETD: true
        INSTALL_IPSW: true
    - uses: ./.github/actions/setup-ios-runtime
      if: ${{ matrix.setup_runtime }}
      timeout-minutes: 60
      with:
        version: ${{ matrix.ios }}
        device: ${{ matrix.device }}
    - name: Run LLC Tests (Debug)
      run: bundle exec fastlane test device:"${{ matrix.device }} (${{ matrix.ios }})" cron:true
      timeout-minutes: 60
    - name: Parse xcresult
      if: failure()
      run: |
        brew install chargepoint/xcparse/xcparse
        xcparse logs fastlane/test_output/StreamFeeds.xcresult fastlane/test_output/logs/
    - uses: actions/upload-artifact@v4
      if: failure()
      with:
        name: Test Data LLC (iOS ${{ matrix.ios }})
        path: |
          fastlane/test_output/logs/*/Diagnostics/**/*.txt
          fastlane/test_output/logs/*/Diagnostics/simctl_diagnostics/DiagnosticReports/*

  build-apps:
    name: Build Demo App
    strategy:
      matrix:
        include:
          - xcode: 26.0.1 # swift 6.2
            os: macos-15
          - xcode: 16.4 # swift 6.1
            os: macos-15
          - xcode: 16.1 # swift 6.0
            os: macos-14
      fail-fast: false
    runs-on: ${{ matrix.os }}
    steps:
    - uses: actions/checkout@v4.1.1
    - uses: ./.github/actions/ruby-cache
    - uses: ./.github/actions/xcode-cache
    - name: Build Demo App
      run: bundle exec fastlane build_demo
      env:
        XCODE_VERSION: ${{ matrix.xcode }}

  automated-code-review:
    name: Automated Code Review
    runs-on: macos-15
    env:
      XCODE_VERSION: "16.0"
    steps:
    - uses: actions/checkout@v4.1.1
    - uses: ./.github/actions/bootstrap
    - run: bundle exec fastlane rubocop
    - run: bundle exec fastlane run_swift_format strict:true

  slack:
    name: Slack Report
    runs-on: ubuntu-latest
    needs: [build-and-test, build-apps, automated-code-review]
    if: failure() && github.event_name == 'schedule'
    steps:
      - uses: 8398a7/action-slack@v3
        with:
          status: cancelled
          text: "You shall not pass!"
          job_name: "${{ github.workflow }}: ${{ github.job }}"
          fields: repo,commit,author,workflow
        env:
          SLACK_WEBHOOK_URL: ${{ secrets.SLACK_WEBHOOK_NIGHTLY_CHECKS }}
